* {
  padding: 0;
  margin: 0;
  border-size: box;
  list-style: none;
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #94d9ea;
}
.main-content {
  min-height: 100vh;
  width: 80%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.left-section {
  grid-column: span 2;
  height: 100%;
  background-color: #00324a; // blue
}
.right-section {
  grid-column: span 5;
  height: 100%;
  background-color: #f7f7f7;
}
.left-content {
  padding: 2rem 3rem;
}
.profile {
  width: 100%;
  border-bottom: 1px solid #002333;
}
.image {
  width: 100%;
  text-align: center;
}
.profile img {
  width: 100%;
  border-radius: 50%;
  border: 8px solid #002333;
}
.name {
  font-size: 1.8rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.2rem 0;
}
.career {
  font-size: 1.2rem;
  text-align: center;
  color: #94d9ea;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 1rem;
}
.main-title {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1;
  color: #f7f7f7ec;
  padding-top: 3rem;
}
.contact-info ul {
  padding-top: 2rem;
}
.contact-info ul li {
  padding: 0.4rem 0;
  display: flex;
  align-items: center;
  color: #718096;
}
.contact-info ul li i {
  padding-right: 1.2rem;
  font-size: 1.1rem;
  color: #2d9cdb;
}
.skills-section ul {
  padding-top: 2rem;
}
.skills-section ul li {
  display: grid;
  grid-template-columns: (2, 1fr);
  padding: 0.4rem 0;
}
.progress-bar {
  width: 100%;
  height: 0.4rem;
  background-color: #2f81ed5b;
  position: relative;
  border-radius: 12px;
}
.progress {
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #2d9cdb;
  border-radius: 12px;
}
.rt-progress {
  width: 86%;
}
.js-progress {
  width: 89%;
}
.ts-progress {
  width: 79%;
}
.nt-progress {
  width: 81%;
}
.rx-progress {
  width: 84%;
}
.mx-progress {
  width: 65%;
}
.rr-progress {
  width: 73%;
}
.hs-progress {
  width: 90%;
}
.sc-progress {
  width: 85%;
}
.st-progress {
  width: 85%;
}
.bt-progress {
  width: 83%;
}
.ml-progress {
  width: 78%;
}
.tl-progress {
  width: 83%;
}
.fm-progress {
  width: 93%;
}
.ax-progress {
  width: 77%;
}
.ri-progress {
  width: 72%;
}
.ws-progress {
  width: 64%;
}
.gt-progress {
  width: 95%;
}
.wb-progress {
  width: 87%;
}
.uu-progress {
  width: 73%;
}
.nd-progress {
  width: 55%;
}
.ns-progress {
  width: 51%;
}
.ep-progress {
  width: 47%;
}
.db-progress {
  width: 58%;
}
.pn-progress {
  width: 52%;
}
.dk-progress {
  width: 68%;
}
.cd-progress {
  width: 58%;
}
.skill-title {
  text-transform: uppercase;
  color: #f7f7f7;
  font-size: 1rem;
}
.sub-title {
  padding-top: 2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #f7f7f7;
}
.sub-para {
  color: #ccc;
  padding: 0.4rem 0;
}
.references-section li {
  color: #ccc;
  padding-left: 0.2rem 0;
}
.references-section li i {
  padding-right: 1.2rem;
  font-size: 1.1rem;
  color: #2d9cdb;
}
.right-main-content {
  padding: 2rem 3rem;
}
.right-title {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #2f80ed;
  margin-bottom: 1.2rem;
  position: relative;
}
.right-title::after {
  content: '';
  position: absolute;
  width: 60%;
  height: 0.2rem;
  border-radius: 12px;
  background-color: #ccc;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.para {
  line-height: 1.6rem;
  color: #718096;
  font-size: 1.1rem;
}
.sect {
  padding-bottom: 2rem;
}
.timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.tl-title {
  letter-spacing: 1px;
  font-size: 1.3rem;
  color: #002333;
  text-transform: uppercase;
}
.tl-title-2 {
  letter-spacing: 1px;
  font-size: 1.3rem;
  color: #2d9cdb;
  text-transform: uppercase;
}
.tl-content {
  border-left: 1px solid #ccc;
  padding-left: 2rem;
  position: relative;
  padding-bottom: 2rem;
}
.tl-title-2::before {
  content: '';
  position: absolute;
  width: 0.7rem;
  height: 0.7rem;
  background-color: #2d9cdb;
  border-radius: 50%;
  transform: translateX(-50%);
  left: 0;
}

/* Media Querries */
@media screen and (max-width: 823px) {
  .right-title::after {
    width: 40%;
  }
}
@media screen and (max-width: 681px) {
  .right-title::after {
    width: 30%;
  }
}
@media screen and (max-width: 780px) {
  .timeline {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 780px) {
  .left-section {
    grid-column: span, 3;
  }
  .right-section {
    grid-column: span, 4;
  }
}
@media screen and (max-width: 1200px) {
  .main-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .profile img {
    width: 40%;
  }
}
@media screen and (max-width: 700px) {
  .profile img {
    width: 60%;
  }
}
@media screen and (max-width: 390px) {
  .name {
    font-size: 1.5rem;
  }
}
